.navbar {
  margin: 0;
  padding: 0;
  background-color: rgb(10, 10, 10);
  display: flex;
  margin-bottom: 3rem;
  width: 100%;
}

.title {
  padding: 0rem 1rem;
  color: white;
}

.centerNewBookButton {
  display: flex;
  align-items: center;
}

.buttonCenter {
  justify-self: center;
}

.flex {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.submitButton {
  width: 100px;
}
