body {
  background-image: url(./libraryImg.jpg);
  margin: 0;
}

.navbarBOOT {
  margin: 0;
  padding: 1rem;
  background-color: rgb(10, 10, 10);
  display: flex;
  margin-bottom: 3rem;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.title {
  padding: 0rem 1rem;
  color: white;
}

.newBookButton {
  font-size: 20px;
  padding: 0.7rem 1.5rem;
  margin-left: -10rem;
}

/* MODAL */

.modal {
  display: hidden;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

.flex {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.modalFlexCenter {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
}

.btn-dark {
  padding: 0.2rem 3rem;
  margin: 0rem 1rem;
}

.btnDiv {
  display: flex;
  justify-content: center;
}

.inputItem {
  margin: 0.4rem;
}

.checkLabel {
  font-size: 20px;
}

/* BookList */

.bookListDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flexBook {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  background-color: rgb(0, 0, 0);
  color: white;
  margin: 1rem;
}

.insideBook {
  text-align: center;
  padding: 1rem;
}
